/* when I googled manly color palettes:
https://www.color-hex.com/color-palette/29852
*/

.like-button {
  background-color: #8eaebd;
  color: #f6f6f6;
  padding: 10px 40px;
  border: none;
  cursor: default;
}

.filter-by-month {
  position: relative;
  display: inline-block;
}

#comment-form {
  margin: 1rem 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

commentDetails {
  margin: 1rem 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* For the Book Cards */
.template {
    display: none;
}

.books-of-the-month {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.book-card {
  flex: 1 0 calc(33.33% - 20px);
  margin: 10px;
  width: auto;
  box-sizing: border-box;
}

.book-card .img {
  aspect-ratio: 1 / 2;
}
