.like-button {
  background-color: #8eaebd;
  color: #f6f6f6;
  padding: 10px 40px;
  border: none;
  cursor: default;
}

.filter-by-month {
  position: relative;
  display: inline-block;
}

/* For the Book Cards */
.template {
  display: none;
}

.books-of-the-month {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.book-card {
  flex: 1 0 calc(33.33% - 20px);
  height: 400px;
  position: relative;
  margin: 10px;
  width: auto;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.book-card .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  max-height: calc(400px - 225px);
  overflow-y: auto;
  padding: 15px;
}
/* scrolling for extra text for now */
.card-body::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.card-body::-webkit-scrollbar-thumb {
  background-color: #035b71; /* Color of the scroll thumb (the part you drag) */
  border-radius: 4px;
}

.card-body::-webkit-scrollbar-track {
  background-color: #d9f0f8;
  border-radius: 4px;
}
/* end scrolling css code */
.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  width: 150px;
  height: 225px;
  object-fit: inherit;
}

/* begin current book styling */

.current-book {
  background-color: #425e2b;
  display: flex;
  flex-wrap: wrap;
}

.current-book img {
  height: 300px;
  width: auto;
  align-items: right;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Formatting for the review form */
#comment-form {
  border: 2px solid #425e2b;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: 0 auto;
  background-color: #a3dbda;
  font-family: "Poppins", sans-serif;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #425e2b;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

textarea.form-control {
  resize: vertical;
  font-family: "Poppins", sans-serif;
}

input[type="submit"] {
  background-color: #425e2b;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  color: #a3dbda;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* formatting book review section */
#comment-section {
  border: 2px solid #425e2b;
  padding: 20px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  background-color: #d9f0f8;
}

#comment-section div {
  border: 1px solid #425e2b;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* formatting header section */
.navbar-brand img {
  height: 100px;
  width: auto;
}

.navbar-light bg-light {
  background-color: white;
}
